%h1.title Edit Movie

= form_tag movie_path(@movie), :method => :put , :class => 'form' do

  = label :movie, :title, 'Title'
  .input_title
    = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
 
  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date
  = label :movie, :description, 'Description'
  .input_title
    = text_area :movie, :description ,rows: "3"
  %br
  = button_tag(type: 'submit' , class: "btn btn-info btn-space") do
    %span.glyphicon.glyphicon-ok
    Save
  = link_to movie_path(@movie), class: "btn btn-danger" do
    %span.glyphicon.glyphicon-remove
    Cancel